* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide {
  width: 95%;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  text-align: center;
}

header h1 {
  font-size: 2rem;
}

.panel {
  text-align: center;
}

.grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  margin-top: 10px;
}

.card {
  background: #829300;
  padding: 20px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  min-width: 120px;
}

.card:hover {
  background: #620027;
  transform: translateY(-3px);
}

.correcto { background: #2ecc71 !important; }
.incorrecto { background: #e74c3c !important; }

/* Barra progreso */
.progreso-contenedor {
  width: 60%;
  height: 15px;
  background: #a6dbf9;
  margin: 10px auto;
  border-radius: 10px;
  overflow: hidden;
}

.barra-progreso {
  height: 100%;
  width: 0%;
  background: #2ecc71;
  transition: width 0.4s ease;
}

/* Formulario */
form {
  margin-top: 10px;
}

form input[type="text"] {
  padding: 6px;
  border-radius: 6px;
  border: none;
  margin-bottom: 8px;
}

.check {
  display: block;
  margin-bottom: 8px;
}

button {
  padding: 6px 15px;
  border: none;
  border-radius: 6px;
  background: #1abc9c;
  cursor: pointer;
}

button:hover {
  background: #2b005b;
}

/* Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-contenido {
  background: white;
  color: black;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
}

.modal img {
  width: 100%;
  margin: 10px 0;
  border-radius: 8px;
}

.cerrar {
  cursor: pointer;
  float: right;
  color: red;
  font-weight: bold;
}

.oculto {
  display: none;
}

body { 
  border: 10px solid #535455;  
  margin: 0;
  min-height: 100vh;
  box-sizing: border-box;
}

